* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background-color: black;
    background-image: url(imagens/fundo\ main\ 2.png);
    background-size: 100% 100%;
}

.head {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.head h1, img{
    font-size: 50px;
}

.head h1 {
    margin-left: 35%;
}

.main {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin: 50px auto;
    text-align: center;
    height: 100%;
}
.coluna {
    /* background-color: rgba(0, 0, 0, 0.445); */
    border-right: 1px solid rgb(255, 255, 255);
    /* border: 1px solid red; */
    height: 100;
}

.card {
    background-color: rgba(0, 0, 0, 0.185);
    width: 90%;
    margin: 30px auto;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.452);
}
.coluna h1 {
    text-transform: uppercase;
    border-bottom: 1px solid white;
    width: 80%;
    margin: 0 auto;
    /* margin-top: 50px; */
    font-size: 40px;

}

.card h2 {
    margin-bottom: 15px;
    padding-top: 25px;
    font-size: 2em;
}

.estatistica {
    padding: 25px 0;
}